._body-div .navbar .logo img { width:120px; height:30px; padding:0; float:right; }
._body-div #content-wrapper { padding:1em; min-width:500px; }
._body-div #main-footer { padding-bottom:40px; }

/* bootstrap override */
.navbar .logo { float:left; margin:0; padding:5px 10px; }
.navbar-inner { padding:0; }
p.lane-label { margin-top:.8em; margin-bottom:0; font-size:15pt; font-weight:bold; }

#content-wrapper {
  position:relative;
  min-height: 440px;
  height: 100%;
  overflow: hidden;
}
#content-wrapper2 {
  position:relative;
}
#content-wrapper-img {
  position:absolute;
  left:0;
  top:0;
  background: url('img/img.jpg') 100% center no-repeat;
  opacity:0.1;
  width:100%;
  height:100%;
}

._page-home #content-wrapper-img {
  opacity:0.8;
}

._page-sub-home #navi {
  margin-bottom:70px;
}
._page-warehouse #navi {
  margin-bottom:200px;
}
@media (max-width: 980px) {
  ._page-warehouse #navi {
    margin-bottom:315px;
  }
}

._page-sub-home #filter-wrapper,
._page-warehouse #filter-wrapper {
  position:fixed;
  top:130px;
}

._page-home .nav-tabs li > a {
  opacity:0.9;
  background-color: #ffffff;
  border-bottom-color: #dddddd;
}

.trakindo-table caption,
.trakindo-table thead,
.trakindo-table tfoot,
.item-regular { color:#fff; background:#7992B1; }
.item-golden_item { background:#ccaa44!important; }
.item-consumable { background:#72b030!important; }
.item-non_cat { background:#aa88aa!important; }
.item-hazard { background:#880000!important; }
.item-hazard, #legend li.item-hazard { color:#ffaf0f; }

.trakindo-table caption { font-size:9.3pt; padding:2px 0 0; border-bottom:1px solid #222; }
.trakindo-table thead,
.trakindo-table tfoot { font-size:10pt; }
.trakindo-table th { font-weight:normal; }
.trakindo-table th, .trakindo-table td { border-collapse:collapse; }
.trakindo-table tr { border-bottom:1px solid #222; }
.trakindo-table thead tr:last-child { border-bottom:2px solid #222; }
.trakindo-table tfoot tr:first-child { border-top:2px solid #222; }
.trakindo-table tr:last-child { border-bottom:0; }

.trakindo-table tr { border-bottom:1px solid #222; }
.trakindo-table thead tr:last-child { border-bottom:2px solid #222; }
.trakindo-table tfoot tr:first-child { border-top:2px solid #222; }
.trakindo-table tr:last-child { border-bottom:0; }

.stack-table table.trakindo-table { width:12.6em; }
.stack-table .trakindo-table td { font-family:monospace; padding:.1em .25em .15em; }
.menu-group-view .trakindo-table th { padding:.1em .3em .05em; }
.menu-group-view .trakindo-table td { padding:.2em .2em; }
.trakindo-table th.cell-location { width:2.2em; }
.trakindo-table th.cell-total { /*width:6.4em;*/width:100%; }
.trakindo-table th.cell-swl { width:3.8em; }
.trakindo-table tr.shelf-total-header { border-top-style:double; border-bottom-style:double; }
.trakindo-table tr.shelf-total-header td { font-size:8pt; font-weight:bold; }

.clear { clear:both; }
.center { margin-left:auto; margin-right:auto; text-align:center; }
.lane { margin-bottom:1.3em; }
.stack-table { margin:.2em; padding:.3em; float:left; }
.stack-table .well-small,
.menu-group-view .well-small { margin:0; padding:0; }

.cell-bin-name { text-align:center; }
.cell-number { text-align:right; }

#filter-list input,
#legend input { vertical-align:top; }

#filter-list label { display:inline; }
#filter-list label.well-small { margin-right:.2em; padding:4px 3px 4px 5px; }
#filter-list li { margin-bottom:9px; }
#filter-list > li:nth-child(2) { margin-bottom:1px; }
#legend { z-index:100; position:fixed; top:60px; right:2px; padding:5px; }
#legend p, #legend ul { margin:0; padding:0; }
#legend li { font-weight:bold; color:#ffffff; list-style:inside; margin:4px 0 0; padding:2px 8px; list-style:none; }
#legend label { margin-bottom:0; }
#legend input { margin-right:.3em; }
#legend li.item-hazard { color:#ffffff; }
#legend-helper { float:right; width:160px; height:140px; }

@media (min-width: 980px) {
  #filter-list ul li { float:left; list-style:none; }
}