<pre>
<a href="./pratama/warehouse/code/main.php">pratama/warehouse/code/main.php</a><a href="./pratama/warehouse/code/main.php?table">?table</a> (slow (as in heavy))

online:
<a href="http://moc.phpfogapp.com/">http://moc.phpfogapp.com/</a>
or local maybe:
<a href="http://127.0.0.1/">http://127.0.0.1/</a>

download:
<a href="https://bitbucket.org/chu121su12/_/downloads">https://bitbucket.org/chu121su12/_/downloads</a>

i need this
<a href="./pratama/warehouse/code/">pratama/warehouse/code/</a>
